
#walletContainer {

    position: absolute;
    z-index: 6000000;
    top: 65.5px;
    right: 7.5%;
    width: 42px;
    height: 42px;
}

#walletImage {

    height: 100%;
    width: auto;
    object-fit: contain;
}

#walletImage:hover {
    
    cursor: pointer;
}

@media screen and (max-width: 540px) {

    #walletContainer {

        top: 52px;
        width: 31px;
        height: 31px;
    }
}